@model UserViewModel
@inject IViewLocalizer Localizer
@{
    Layout = "_AccountCenter";
    var ianaTimeZones = NodaTime.DateTimeZoneProviders.Tzdb.Ids
        .Select(z => new SelectListItem { Value = z, Text = z })
        .ToList();
}
<p class="success-message">@ViewData["SuccessMessage"]</p>
<div class="error-box" asp-validation-summary="All"></div>
<form asp-action="EditContactInfo" asp-controller="Account" method="post" class="form">
    <input asp-for="@Model.Id" value="@Model.Id" class="form-box" hidden />
    <input asp-for="@Model.UserName" value="@Model.UserName" class="form-box" hidden />
    <label>@Localizer["Username"]</label><br />
    <input disabled value="@Model.UserName" class="form-box" maxlength="120" /><br />
    <label>@Localizer["Name"]</label><br />
    <input asp-for="@Model.Name" value="@Model.Name" class="form-box" maxlength="120" /><br />
    <label>@Localizer["Surname"]</label><br />
    <input asp-for="@Model.Surname" value="@Model.Surname" class="form-box" maxlength="30" /><br />
    <label>@Localizer["Email"]</label><br />
    <input asp-for="@Model.Email" value="@Model.Email" class="form-box" maxlength="200" /><br />
    <select asp-for="@Model.TimeZoneId" class="form-box" asp-items="ianaTimeZones"></select>
    <div class="submit-box"><button type="submit" class="crud-button submit-button">@Localizer["Submit"]</button></div>
</form>
